<h2>Warenkorb</h2>
<bm-cart-item [item]="cartItem" 
              [index]="i"
              *ngFor="let cartItem of items$ | async; let i = index"
              (removed)="removeItemFromCart($event)">
</bm-cart-item>
<h4 class="ui header">Gesamt {{ total$ | async | currency:'EUR':'symbol-narrow':'2.2-4' }}</h4>