<form class="ui form" #f="ngForm" (ngSubmit)="submitted(f)" >
  <div class="field">
    <label>ISBN</label>
    <input type="text" name="isbn" placeholder="123-435675436-5" ngModel>
  </div>
  <div class="field">
    <label>Titel</label>
    <input type="text" name="title" placeholder="Titel" ngModel>
  </div>
  <div class="field">
    <label>Preis</label>
    <input type="number" name="price" placeholder="Preis" ngModel>
  </div>
  <button class="ui button" type="submit">Buch hinzufügen</button>
</form>