<h2>Ein neues Buch hinzufügen</h2>
<bm-book-form (created)="addBook($event)"></bm-book-form>
<h2>Bücher</h2>
<bm-book-item [book]="bookItem" (added)="addBookToCart($event)" *ngFor="let bookItem of books$ | async" ></bm-book-item>