<div class="ui red card item">
  <div class="content">
    <div class="header">
      {{ item.title }}
    </div>
    <div class="description">
      {{item.price | currency:'EUR':'symbol':'2.2-4'}}
    </div>
  </div>
  <div class="extra content">
    <button class="ui button" (click)="removed.emit(index)">
      <i class="icon remove"></i>
      Aus dem Warenkorb entfernen
    </button>
  </div>
</div>