<div class="ui card book">
  <div class="content">
    <div class="header">{{ book.title }}</div>
    <div class="description">ISBN: {{ book.isbn }}</div>
    <div class="description">Preis: {{ book.price | currency:'EUR':'symbol':'2.2-4' }}</div>
  </div>
  <div class="extra content">
    <button class="ui button" (click)="added.emit(book)"><i class="add icon"></i>Zum Warenkorb hinzufügen</button>
  </div>
</div>